* {
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.todo-app {
  display: flex;
  justify-content: center;
}

.todo-row {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.todo-form {
  display: flex;
  justify-content: center;
  max-width: 600px;
}

.delete-icon {
  align-self: flex-end;
}